<!DOCTYPE html>
<html>
<head>
<style>
.profile {
  float: left;
  margin-right: 5px;
  background-color: lightyellow;
  border-style: outset;
  padding: 10px;
  width: 250px;
}
</style>
</head>
<body>


<h1>Pets from <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>

<%= button_to "Create Pet", "pets/new", method: :get%><br>
<% @shelter.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">

  <div class="profile">

    <img src=<%= pet.image %> alt="Fido bein cute af" width="250">
    <h4>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
    <p>
      Age:
      <%= pet.age %><br>
      Sex:
      <%= pet.sex %><br>
    </p>
    <br>
    <%= button_to "Favorite Pet", "/favorites/#{pet.id}", method: :patch %>
  </div>
</section>
<br>
<% end %>
