<%= link_to "Back to Shelters", shelters_path %><br>
<%= link_to "Back to Pets", pets_path %><br>

<h1>Name: <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>

<h4><%= @shelter.address %></h4>
<h4><%= "#{@shelter.city}, #{@shelter.state} #{@shelter.zip}" %></h4>

<%= button_to "Pets", "/shelters/#{@shelter.id}/pets", method: :get %>

<%= button_to "Edit", "/shelters/#{@shelter.id}/edit", method: :get %>

<%= button_to "Delete", "/shelters/#{@shelter.id}", method: :destroy %>

<%= link_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new", method: :get %>


<h1>All Reviews</h1>

<% @shelter.reviews.each do |review| %>

  <section id="review-<%= review.id %>">
    <h4>Name: <%= link_to "#{review.title}", "/reviews/#{review.id}" %></h4>
    <p> Content: <%= review.content %>"
        Rating: <%= review.rating %>"
    </p>

  </section>
  
  <br>
<% end %>