<body>
  <%= link_to "Back to Shelters", shelters_path %><br>
  <%= link_to "Back to Pets", pets_path %><br>
  <%= button_to "Remove All Favorites", "/favorites", method: :delete %>

<h1>Favorites List</h1>
<section id="list_of_favorites">

<% if @pets == nil || @pets == 0 %>
  <h4>No pets favorited.</h4>
<% else %>

  <% @pets.each do |pet| %>
    <section id= "pet-<%= pet.id %>">

      <img src=<%= pet.image %> alt="Dog pic" width="250">

      <h4>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
      <%=  button_to "Remove from Favorites", "/favorites/#{pet.id}?remove=true", method: :patch %>
      <br>
    </section>
  <% end %>

<% end  %>
</section>
<% unless @pets == nil || @pets == 0 %>
  <%= link_to "Adopt!", "/adoptions/new", method: :get %>
<% end %>
<h3>Pets with Open Applications:</h3>
<section id= "pets_with_open_applications">
  <% @app_pets.uniq.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
</section>
