<!DOCTYPE html>
<html>
<head>
<style>
.profile {
  float: left;
  margin-right: 5px;
  background-color: lightyellow;
  border-style: outset;
  padding: 10px;
  width: 250px;
}
</style>
</head>
<body>


<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <div class="profile">
  <section id= "pet-<%= pet.id%>">


    <img src=<%= pet.image %> alt="Fido bein cute af" width="250">

    <h4>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
    <p>
      Age:
      <%= pet.age %><br>
      Sex:
      <%= pet.sex %><br>
      Shelter:
      <%= pet.shelter.name %>
    </p>
    <br>
    <%= button_to 'Edit', "/pets/#{pet.id}/edit", method: :get %>
    <%= button_to 'Delete', "/pets/#{pet.id}", method: :delete %>
    <% if session[:favorites] == nil %>
      <%= button_to "Favorite Pet", "/favorites/#{pet.id}", method: :patch %>
    <% elsif session[:favorites].include?(pet.id) %>
      <%=  button_to "Remove from Favorites", "/favorites/#{pet.id}", method: :delete %>
    <% else %>
      <%= button_to "Favorite Pet", "/favorites/#{pet.id}", method: :patch %>
    <% end %>

  </section>
  </div>
<% end %>
