<!DOCTYPE html>
<html>
<head>
<style>
.profile {
  float: left;
  margin-right: 5px;
  background-color: lightyellow;
  border-style: outset;
  padding: 10px;
  width: 250px;
}
</style>
</head>
<body>

<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <a href="/pets/#{pet.id}">
  <div class="profile">


    <img src=<%= pet.image %> alt="Fido bein cute af" width="250">
  ]
    <h4><%= pet.name %></h4>
    <p>
      Age:
      <%= pet.age %><br>
      Sex:
      <%= pet.sex %><br>
      Shelter:
      <%= pet.shelter.name %>
    </p>
    <br>
  </div>
  </a>
<% end %>
